<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>登录</h1>
        <h1>{{ username }}</h1>
        {% for i in ls %}
        {% if i == '北京' %}
            <h2>老北京酸奶</h2>
        {%  endif %}
        {{ i }}
        {% endfor %}
        {{ dic.name }}
        <form action="">
               用户名 <input type="text">
               密码 <input type="password">
               <input type="submit" value="登录">
        </form>
    </body>
</html>